body { background-color: #FFF; margin: 0px; padding: 0px; scrollbar-arrow-color: #3B88C5; scrollbar-face-color: #FFFFFF; scrollbar-track-color: #E0E0E0; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #C0C0C0; scrollbar-shadow-color: #FFFFFF; scrollbar-darkshadow-color: #B0B0B0; }

font,th,td,p { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; }
a { text-decoration: underline; color: #3B88C5; }
a:visited { text-decoration: underline; color: #3279B2; }
a:hover, a:active { text-decoration: underline; color: #FF9C00; }
hr { height: 0px; border: solid #3888C7 0px; border-top-width: 1px;}

img { border: 0px; }
form { display: inline; }

table.forumline { background-color: #C0C0C0; }
table.forumline:hover { background-color: #B0B0B0; }

.row, .row1, .row2 { background-color: #FFF; }
.row3 { background-color: #F2F9FF; }

th, td.th { color: #F6F6F5; font-size: 14px; font-weight: bold; background-color: #5393C6; background-image: url('admin_bg_th.gif'); background-repeat: repeat-x; height: 25px; border-style: solid; border-color: #56A6E5; border-width: 0px 1px 0px 1px;}

td.cat,td.catHead,td.catLeft, td.rowpic, td.catSides,td.catRight,td.catBottom { color: #000; font-size: 14px; background-color: #F1F1F2; background-image: url('admin_bg_cat.gif'); background-repeat: repeat-x; height: 27px; padding: 1px; }

.gen { font-size: 14px; }
.genmed { font-size: 13px; }
.gensmall { font-size: 12px; }


.nav { font-weight: bold; font-size: 14px; color: #FF9C00;}
.nav a, .nav a:visited { text-decoration: underline; color: #3B88C5; }
.nav a:hover, .nav a:active { text-decoration: underline; color: #FF9C00; }

table.nav { background-color: #F7F7F7; background-image: url('admin_bg_cat.gif'); border: solid 1px #4E9EDD; height: 25px; }
table.nav:hover { border: solid 1px #3B88C5; }

.forumlink { font-weight: bold; font-size: 14px; }
a.forumlink, a.forumlink:visited { text-decoration: none; }
a.forumlink:hover, a.forumlink:active { text-decoration: underline; }


input { text-indent: 2px; }
input,textarea, select { color: #333; font: normal 14px Verdana, Arial, Helvetica, sans-serif; }
input.post, textarea.post, select { background-color: #FFF; border: solid 1px #2C6B9D; }
input.post { height: 17px; }

input.button { background-color: #FFFFFF; color: #333333; font-size: 14px; font-family: Verdana, Arial, Helvetica, sans-serif;  border: solid 1px #2C6B9D; }

input.mainoption { background-color: #FFFFFF; font-weight: bold;  border: solid 1px #2C6B9D; height: 17px; }
input.liteoption { background-color: #FFFFFF; font-weight: normal;  border: solid 1px #2C6B9D; height: 17px; }

select optgroup { background-color: #C3C7C9; color: #404040; }
select option, select optgroup option { background-color: #FFF; color: #000; }

.code {
    font-family: Courier, 'Courier New', sans-serif; font-size: 14px; color: #0000AA;
    background-color: #F1F4F8; border: #525E6E; border-style: dotted;
    border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.quote {
    font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #3A5370; line-height: 125%;
    background-color: #F1F4F8; border: #525E6E; border-style: dotted;
    border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px
}

.postbody { font-size: 14px; color: #202020; }
.postbody a, .postbody a:visited { text-decoration: underline; }
.postbody a:hover, .postbody a:active { text-decoration: underline; }

.name { font-weight: bold; font-size: 13px; }
.name a, .name a:visited { text-decoration: underline; }
.name a:hover, a.name a:active { text-decoration: underline; }
.postdetails { color: #646464; font-size: 12px; }

td.spacerow { background-color: #F2F2F2; background-image: url('bg_th.gif'); height: 2px; padding: 0px; }

.cattitle,      { font-weight: bold; font-size: 14px; letter-spacing: 1px; color: #444; }
a.cattitle      { text-decoration: none; }
a.cattitle:hover{ text-decoration: underline; }

.maintitle,h1,h2 {
 font-weight: bold; font-size: 22px; font-family: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif;
 text-decoration: none; line-height : 120%; color : #000000;
}


/* СТИЛИ для скрипта форума WR-Forum Professional версии 2.2 с 2019 года */

/* 1) ИЗМЕНЕНИЕ ИМЕЮЩЕГОСЯ СТИЛЯ */
/* Здесь ниже задаётся стиль для ссылок - все ссылки в квадратиках обведённых нежным оттенком основного цвета */
.pgbutt a {font-family: Verdana; padding-top:2px;padding-bottom:2px;
text-decoration: none; border: 1px #888888 solid; background: #f1f1f1; padding:1px 4px 1px 4px; margin: 5px 1 0 0;
 -moz-border-radius: 4px;
 -khtml-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;}
 
input,input.liteoption,.fakebut {border: 1px solid #000000; font-size: 13px; font-weight:bold;}

/* 2) QR-CODE */
#qr img{width:35px;height:35px;position: fixed;right: 10px;top: 10px;border: 1px solid #666;padding: 1px;background-color: white;}
#qr img:hover{width:200px;height:200px;z-index:100;padding: 2px;}

/* 3) Если нет аватара добавляем ЧУДО КВАДРАТ с первой буквой логина. border-radius 100% - это круг */
.guestavatar{width:120px;height:120px;text-align:center;background: #FFDEAD;color: #4E5754;font-size: 50px;
display: table-cell;border-radius: 20%;position: relative;vertical-align: middle;}

/* 4) навигационное МЕНЮ В АДМИНКЕ */
#nav8, #nav8 ul, #nav8 li {margin: 0;padding: 0;border: 0;}
#nav8, #nav8 ul {background: #FFFFFF;}
#nav8 {border-spacing: 0 0;position: relative;z-index: 50;width: 100%;}
#nav8 ul {position: absolute;display: none;}
#nav8 td:hover ul {display: block;}
#nav8 ul li {list-style: none;}
#nav8 .right {direction: rtl;}
#nav8 .right ul {right: 0;}
#nav8 .right li {direction: ltr;}
#nav8 a {display: block;padding: 7px 0;text-align: center;text-decoration: none;}
#nav8 ul a {padding: 7px 15px;text-align: left;}
#nav8 td:hover, #nav8 li:hover {background: #EEEEEE;}
#nav8 td {text-align: center;}

/* 5) Стиль для блока загрузки - ДАЛЕЕ >>> */
#cssbar-wrapper {width:300px; height:19px; position:absolute; left:50%;}
#cssbar-border {border:3px solid rgb(45,96,200); height:100%; width:100%; position:relative; left:-50%; top:-50%; padding:4px 3px;}
#cssbar-whitespace {overflow:hidden; height:100%; width:100%; margin:0 auto; overflow:hidden; position:relative;}
#cssbar-line {background-color:rgb(45,96,200); position:absolute; height:100%; width:100%; animation:cssbar-slide 4s steps(40) infinite;
 -o-animation:cssbar-slide 4s steps(40) infinite; -ms-animation:cssbar-slide 4s steps(40) infinite;
 -webkit-animation:cssbar-slide 4s steps(40) infinite; -moz-animation:cssbar-slide 4s steps(40) infinite;}
@keyframes cssbar-slide {0% {left:-100%;} 100% {left:100%;}} @-o-keyframes cssbar-slide {0% {left:-100%;} 100% {left:100%;}}
@-ms-keyframes cssbar-slide {0% {left:-100%;} 100% {left:100%;}} @-webkit-keyframes cssbar-slide {0% {left:-100%;} 100% {left:100%;}}
@-moz-keyframes cssbar-slide {0% {left:-100%;} 100% {left:100%;}}